*{
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:normal;
	outline:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	font-family: "PT Sans", monospace;
	color: white;
	transform: translateZ(0);
	background-color: black;
	background-position: center;
}
a{
	color: white;
	text-decoration: none;
}
.row {
	display: flex;
	height: 33.3333vh;	
	-ms-align-items: center;
	align-items: center;
}

.col{
    text-align: center;
	width: 12.5vw;
	/*border: 1px solid white;*/
}
.col img{
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	height: 12.5vw;
}
.flag:hover .overlay{
	visibility: visible;
}
.overlay{
	background: rgba(0,0,0,0.8);
	width: 12.5vw;
	height: 12.5vw;
	position: absolute;
	/*line-height: 12.5vw;*/
	visibility: hidden;
}
.inner-text{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media (max-width: 736px) {
  .row {
    display: none;
  }
  .middle-row{
  	display: block;
  }
  .col{
  	width: 160px;
  	margin: 0 auto;
  	margin-top: 20px;
  }
  .col:last-child{
  	margin-bottom: 20px;
  }
  .col img{
	width: 160px;
	height: 160px;
  }
  .overlay{
  	width: 160px;
  	height: 160px;
  }
  body{
  	overflow: visible;
  }
/*  .flag:hover .overlay{
	visibility: hidden;
	}*/
}
